body {
   font-family: 'Roboto', sans-serif; 
   background-color: rgb(43, 41, 41);
}

.NavBar{
   position:fixed;
   background-color: rgba(0, 0, 0, 0.575);
   border-color: aliceblue;
   
   top:0px;
   padding-left: 150px;
   height:100px;
   width:2000px;
   margin-right: 10px;
   border-left:6px solid black;
}
.NavBar li{
   display:inline;
   line-height: 65px;
  color: rgb(252, 252, 252);
  width:300px;
  
  margin-left: 20px;
  
  transition: all 0.3s ease-in-out;
   font-weight: 800;
   padding: 12px 40px;
   margin: 10;
  
   
}
.NavBar a {
   color: inherit; 
   font-weight: normal;
   text-decoration: none; 
   display: inline-block;
}

.logo img{
   width:150px;
   height:100px;
position:fixed;
   left:0px;
   top:0px;
}
.NavBar li:hover {
   background-color: azure;
   color:black;
   padding: 40px;
   border: 4px solid azure;
   box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}   
.NavBar li.menu {
   position:fixed;
   top: 0;
   right: 0;
   padding: 14px 12px;
}  
 /* UDEMY #26 Active navbar settings to change when scrolling down */
 .NavBar.active {
   background-color: rgb(31, 30, 30); 
   transition: background-color 0.3s ease-in-out; 
   position:fixed;
  
   top:0px;
   padding-left: 150px;
   height:100px;
   width:2000px;
   margin-right: 10px;

}
.NavBar.active li {
   color: rgb(255, 255, 255); 
}
.NavBar.active li:hover {
   background-color: rgb(0, 0, 0);
   color:rgb(255, 255, 255);
   padding: 40px;
   border: 4px solid rgb(88, 88, 88);
   box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}   
.NavBar.active li.menu {
   position:fixed;
   top: 0;
   right: 0;
   padding: 14px 12px;
}  

.apparel-container {
   
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
   gap: 20px;
   padding: 20px;
   margin-top: 150px; 
   align-items: center; 

}


.apparel-item {
   background-color: rgb(201, 200, 200);
   width: 320px;
   height:500px;
   margin-top: 100px;
   text-align: center;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.apparel-item img {
   width: 100%;
   height: auto;
   aspect-ratio: 2.5 / 3; 
}

.apparel-item h2 {
   margin: 10px 0;
   color: #333;
   font-size: 18px;
}

.apparel-item p {
   color: #666;
   font-size: 14px;
   margin: 0 10px 20px;
}
.head {
   color:#B22222;
position:absolute;
top:100px;
left:110px;
}
.add-to-cart {
   background-color:#B22222; 
   color: white; 
   padding: 5px 10px; 

   font-size: 14px; 
   cursor: pointer; 
   border-radius: 2px; 

   width: 30%; 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  
}
.buynow {
   background-color:#B22222; 
   color: white;
   padding: 5px 10px;

   font-size: 14px; 
   cursor: pointer; 
   border-radius: 2px;

   width: 30%; 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.icon-bar {
   position: fixed;
   top: 100px;
   right: 0;
   padding: 10px 20px;

   display: flex;
   align-items: center;
   justify-content: space-around;
  
}

.icon-bar a {
   text-decoration: none;
   color: #B22222;
   font-size: 24px;
   padding: 0 10px;
}

/*UDEMY #5 HIDDEN SEARCH WIDGET*/
.search {
   position: fixed; 
   top: 20px;
   right: 5%; 
   z-index: 2000; 
}
.search .input {
 
   border:0;
   font-size: 18px;
   padding:10px;
   height:25px;
   width:30px;
   transition:width 0.3s ease;
}
.btn {
   position:absolute;
   background-color: rgba(106, 21, 21, 1);
   border:0;
   cursor:pointer;
   font-size: 24px;
   top:0px;
   left:0px;
   height:50px;
   width:50px;
   transition: transform 0.3s ease;
}

.btn:focus, .input:focus {
   outline: none;
}

.search.active .input {
   width:200px;
   height:30px;
}

.search.active .btn {
   transform: translateX(210px);
}
/*END  OF UDEMY #5 HIDDEN SEARCH WIDGET */

footer {
    
   display:flex;
   flex-direction: row; 
   align-items: start;
   background-color: rgb(178, 180, 182);
   top:920px;
   width:100%;
   height:220px;
   
  h3 {
       font-weight: normal; 
   }


}

.home, .signup, .company, .policy, .sociallinks{
   margin-left: 120px; 
   margin-top: 20px; 
 
}
.sociallinks .icons {
   display: flex;
   justify-content: space-between;
   width: 100%; 
   margin-top: 10px; 
}
.sociallinks .icons .social-icon {
color:black;
   font-size: 35px; 
}

footer h3 {
   color: black; 
   font-weight: normal;
   margin-top: 10px;
   margin-bottom: 10px;
}

footer a {
   color: black; 
   text-decoration: none; 
   display: block; 
}

footer a:hover {
   text-decoration: underline;
}